.title {
  @apply text-[45px] md:text-[60px] lg:text-[75px];
}

.subtitle {
  @apply underline text-secondary text-xl md:text-2xl;
}

.description {
  @apply opacity-75 text-lg font-light tracking-wider;
}

.circleButton {
  @apply hidden relative md:inline-block;

  &.in-bord {
    &:after {
      content: '';
      position: absolute;
      top: 55px;
      left: 55px;
      right: 55px;
      bottom: 55px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }
  }

  &RotateCircle {
    @apply text-3xl uppercase;

    animation-name: rotateCircle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @-webkit-keyframes rotateCircle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes rotateCircle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    svg {
      @apply w-[210px] fill-white opacity-70;
    }
  }

  &Icon {
    @apply absolute top-1/2 left-1/2 origin-center;

    transform: translateX(-50%) translateY(-50%);
  }
}

.sideNumbers {
  @apply mt-8;

  @screen md {
    @apply absolute top-1/2 -right-[1px] py-3 px-6;

    width: max-content;
    transform-origin: top right;
    transform: rotate(-90deg) translateX(50%) translateY(-100%);
  }
}

.bgImage {
  @apply absolute top-0 left-0 w-full h-full bg-cover bg-no-repeat opacity-10;

  z-index: 2;
}
