.progress {
  &Wrap {
    @apply block invisible opacity-0 fixed cursor-pointer;

    bottom: 30px;
    right: 30px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    z-index: 100;
    transform: translateY(20px);
    transition: all 400ms linear;
    mix-blend-mode: difference;
  }

  &Circle {
    path {
      stroke: #ccc;
      stroke-width: 4;
      box-sizing: border-box;
      transition: stroke-dashoffset 10ms linear;
    }
  }
}

.active {
  @apply opacity-100 visible translate-y-0;

  transform: translateY(0);
}

.icon {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
