.menu {
  @apply bg-primary;

  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);

  &Links {
    @apply flex flex-col justify-center h-screen;

    .link {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 1s;
    }
  }

  &Wrapper {
    position: relative;
    z-index: 2;

    li {
      @apply transition duration-300 ease-in-out;
    }
  }
}

.subtitle {
  @apply mb-4 text-white text-[15px] text-opacity-70 uppercase tracking-wide;
}

.link {
  @apply text-[36px] font-semibold uppercase cursor-pointer;

  letter-spacing: 1px;
  line-height: 1.2;
  padding: 20px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  position: relative;
  display: block;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.7s;

  i {
    @apply bg-primary-light absolute top-1/2 -translate-y-1/2 right-0 h-full w-[90px];


    &:before {
      @apply bg-white absolute top-1/2 left-1/2 w-[1px] h-4;

      content: '';
    }

    &:after {
      @apply bg-white absolute h-[1px] w-4;

      content: '';
      top: calc(50% + 8px);
      left: calc(50% - 8px);
    }
  }

  &Submenu {
    @apply cursor-pointer;
  }

  &Other {
    @apply cursor-pointer hover:translate-x-1 transition duration-300 ease-in-out;
  }

  &Contact {
    @apply text-white hover:underline decoration-2 decoration-secondary transition duration-300 ease-in-out;
  }
}

.closeIcon {
  @apply relative z-20 text-3xl scale-100 hover:scale-125 transition duration-300 ease-in-out;
}

.openIcon {
  @apply text-2xl scale-x-100 hover:scale-x-150 origin-right transition duration-300 ease-in-out;
}
